<!DOCTYPE html>
<html>
  <body>
    <script src="https://unpkg.com/axios/dist/axios.min.js">
    </script>

    <div>
      <button onclick="getAPI()">Get API</button>
      <p id="p1">Hello World!</p>
    </div>

    <script>
      function getAPI() {
        var api_url = window.location.protocol+'//'+window.location.hostname+'/api/?format=json';

        axios.get(api_url).then(function(response){
//       debugger;
          document.getElementById("p1").innerHTML = JSON.stringify(response.data);
          console.log(response.data); // ex.: { user: 'Your User'}
          console.log(response.status); // ex.: 200
        });
      }

    </script>



  </body>
</html>
