<!DOCTYPE html>
<html>
<body>
    
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '320796481678770',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

        <title>off-world empire</title>
    <div class="center">
        <h1>off-world empire</h1>
        <h2>Coming Soon</h2>
        <a href="{% url "social:begin" "google-oauth2" %}">Google+</a>
        <a href="{% url "social:begin" "facebook" %}">Facebook</a>
<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
<fb:login-button 
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>

</div>

</body>
</html>




