<!--<!DOCTYPE html>
<html>
<body>

    <div class="center">
<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>

</div>

</body>
</html>
-->
<!DOCTYPE html>
<html>
<title>The Great Tribble Hunt</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/static/img/stars.jpg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}
</style>
<body>


<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">The Great Tribble Hunt</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">The Great Tribble Hunt</span><br>
    <span class="w3-large">Gaaays In Spaaace</span>

</header>

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">

  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter" style="margin-right:32px">
      {% if username %}
        <p class="w3-large">{{username}}</p>
      {% else %}
        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>

      {% endif %}
    <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location">
    <form action="/profile_form/" method="post">


          {% csrf_token %}
          <input id="address" type="hidden" name="address" value="{{address}}"/>
          <input type="submit" value="Update" />
        </form>
        <p class="w3-small">{{address}}</p>



    </div>

    <div class="w3-twothird">
<!--
       <iframe src="//www.google.com/maps/embed/v1/place?q=McCallum%20Rd,%20US
      &zoom=0
      &key=AIzaSyDAApKDJ4m78RbA9JF-CNQEmDVP3cLGjVM" style="width:100%;height:300px">
       </iframe>-->
    <div id="map" style="width:100%;height:300px"></div>

    </div>
  </div>
</div>



<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <div class="w3-xlarge w3-section">
     <a href="https://www.facebook.com/gaaaysinspaaace/" To the top<i class="fa fa-facebook-official w3-hover-opacity"></i></a>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
<!-- AIzaSyDAApKDJ4m78RbA9JF-CNQEmDVP3cLGjVM--> 

<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

    <script>
      // This sample uses the Place Autocomplete widget requesting only a place
      // ID to allow the user to search for and locate a place. The sample
      // then reverse geocodes the place ID and displays an info window
      // containing the place ID and other information about the place that the
      // user has selected.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13
        });

        var input = document.getElementById('pac-input');

        var autocomplete = new google.maps.places.Autocomplete(
            input, {placeIdOnly: true});
        autocomplete.bindTo('bounds', map);

//        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        var infowindow = new google.maps.InfoWindow();
//        var infowindowContent = document.getElementById('infowindow-content');
//        infowindow.setContent(infowindowContent);
        var geocoder = new google.maps.Geocoder;
        var marker = new google.maps.Marker({
          map: map
        });
        marker.addListener('click', function() {
//          infowindow.open(map, marker);
          marker.setMap(map);
        });

        autocomplete.addListener('place_changed', function() {
          infowindow.close();
          var place = autocomplete.getPlace();

          if (!place.place_id) {
            return;
          }
          geocoder.geocode({'placeId': place.place_id}, function(results, status) {

            if (status !== 'OK') {
              window.alert('Geocoder failed due to: ' + status);
              return;
            }
            map.setZoom(11);
            map.setCenter(results[0].geometry.location);
            // Set the position of the marker using the place ID and location.
            marker.setPlace({
              placeId: place.place_id,
              location: results[0].geometry.location
            });
            marker.setVisible(true);
//            infowindowContent.children['place-name'].textContent = place.name;
//            infowindowContent.children['place-id'].textContent = place.place_id;
//            infowindowContent.children['place-address'].textContent =
//                results[0].formatted_address;
            address.value = place.name;

//            infowindow.open(map, marker);
          });
        });
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key}}&libraries=places&callback=initMap"
        async defer></script>

</body>
</html>








