<!DOCTYPE html>
<html>
<title>The Great Tribble Hunt</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("/static/img/stars.jpg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    {% if username %}
    <div class="w3-col s3">
      <a href="#profile" class="w3-button w3-block w3-black">{{username}}</a>
    </div>
    <div class="w3-col s3">
      <a href="/api-auth/logout/?next={{ request.path }}#profile" class="w3-button w3-block w3-black">LOGOUT</a>
    </div>
    {% else %}
    <div class="w3-col s3">
      <a href="{% url 'social:begin' 'facebook' %}" class="w3-button w3-block w3-black">LOGIN</a>
    </div>
    {% endif %}

  </div>
</div>
<!--
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
{% if username %}
  <a href="#" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i class="fa fa-map-marker w3-margin-right"></i>{{username}}</b></a>
  <a href="/api-auth/logout/?next={{ request.path }}#profile"
            class="w3-button w3-gray">Logout</a>

      {% else %}
        <a href="{% url 'social:begin' 'facebook' %}"
            class="w3-button w3-gray">Log In</a>

{% endif %}
</div>
-->
{% if username %}
<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">The Great Tribble Hunt</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">The Great Tribble Hunt</span><br>
    <span class="w3-large">Gaaays In Spaaace</span>

</header>
{% else %}

<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-topleft w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">The Great Tribble Hunt</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">The Great Tribble Hunt</span><br>
    <span class="w3-large">Gaaays In Spaaace</span>

</header>

{% endif %}
<!-- About Section -->
{% if username %}

<div class="w3-container" style="padding:64px 16px" id="profile">
  <div class="w3-row-padding w3-center" style="margin-top:64px">


    <div class="w3-third" style="margin-right:128px">
      <p class="w3-large">{{username}}</p>
      <form action="/profile_form/" method="post">
        {% csrf_token %}
        <input id="pac-input" class="controls" type="text" size="45" placeholder="Search address">

        <input id="address" type="hidden" name="address" value="{{address}}"/>
        <input id="google_id" type="hidden" name="google_id" value="{{google_id}}"/>
        <input id="longitude" type="hidden" name="longitude" value="{{longitude}}"/>
        <input id="latitude" type="hidden" name="latitude" value="{{latitude}}"/>

        <input class="button" type="submit" value="Update" />
      </form>
        <p class="w3-small">Address: {{address}}</p>

        <br/>
        <input id="tribble_code" type="text" size="45" name="tribble_code" placeholder="Hunt Tribble"/>
        <button onclick="getTribble()">Hunt</button>
        <p id="hunter_msg"></p>

    </div>

    <div class="w3-half">
      <div id="map" style="width:600px;height:300px"></div>
    </div>



  </div>
</div>
{% else %}
<div class="w3-content w3-center" id="profile">

      <div class="w3-display-bottommiddle" id="map" style="width:600px;height:300px"></div>
</div>

{% endif %}



<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <div class="w3-xlarge w3-section">
     <a href="https://www.facebook.com/gaaaysinspaaace/" To the top<i class="fa fa-facebook-official w3-hover-opacity"></i></a>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

    <script src="https://unpkg.com/axios/dist/axios.min.js">
    </script>
    <script>
      function getTribble() {
        var api_url = window.location.protocol+'//'+window.location.hostname+'/api/tribbles/'+tribble_code.value+'/hunt/'+'?format=json';

        axios.get(api_url).then(function(response){
          document.getElementById("hunter_msg").innerHTML = response.data.detail;
          console.log(response.data); 
          console.log(response.status); 
        }).catch(function (error) {
           if (error.response.status==404){
             document.getElementById("hunter_msg").innerHTML = "Tribble not found";
           };
           console.log(error);
        });
      }

    </script>



    <script>


      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 0.0, lng: 0.0},
          zoom: 1
        });

        var input = document.getElementById('pac-input');

        var autocomplete = new google.maps.places.Autocomplete(
            input, {placeIdOnly: true});
        autocomplete.bindTo('bounds', map);


        var infowindow = new google.maps.InfoWindow();
        var geocoder = new google.maps.Geocoder;

        var marker = new google.maps.Marker({
          map: map
        });
        marker.addListener('click', function() {
          marker.setMap(map);
        });

        autocomplete.addListener('place_changed', function() {
          infowindow.close();
          var place = autocomplete.getPlace();

          if (!place.place_id) {
            return;
          }
          geocoder.geocode({'placeId': place.place_id}, function(results, status) {
            if (status !== 'OK') {
              window.alert('Geocoder failed due to: ' + status);
              return;
            }
            map.setZoom(11);
            map.setCenter(results[0].geometry.location);
            // Set the position of the marker using the place ID and location.
            marker.setPlace({
              placeId: place.place_id,
              location: results[0].geometry.location
            });
            marker.setVisible(true);
            address.value = place.name;
            google_id.value = place.place_id;

            longitude.value = results[0].geometry.location.lng();
            latitude.value = results[0].geometry.location.lat();
      //      loadMap(map);

          });
        });

function addMarker(location) {
  marker = new google.maps.Marker({
    position: location,
    map: map
  });
};
var google_ids_url = window.location.protocol+'//'+window.location.hostname+'/api/google_ids?format=json';

        axios.get(google_ids_url).then(function(response){
        var latitude = 0;
        var longitude = 0;
        for (var index = 0; index < response.data.length; index++) { 
          latitude =response.data[index].latitude;
          longitude = response.data[index].longitude;
          CentralPark = new google.maps.LatLng(latitude, longitude);
          addMarker(CentralPark);
        }

          console.log(response.data); 
          console.log(response.status); 
        });



      };

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key}}&libraries=places&callback=initMap"
        async defer>

</script>

    <script>

      var tribble_parameter = "{{tribble}}";
      if (tribble_parameter!="None"){
        tribble_code.value = tribble_parameter;
        getTribble();
      }
    </script>

    <script>
    </script>

</body>
</html>








