<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<script src="https://unpkg.com/axios/dist/axios.min.js"> </script>


<div class="w3-container w3-center">
  <h2>{{title}}</h2>
  <img src="{{ image }}" style="width:90%;max-width:320px">
  <p>{{description}}</p>
  <br/>
  {% if ticket %}
  <h3> Winning Ticket: {{ticket}} </h3>
  <h3> Congrats {{winner_first_name}} {{winner_last_name}}!!!!!!</h3>
  {% endif %}
</div>



</body>
</html>


